


body{
    background-color:black
}
.div1{
     color:white;
     font-size:smaller;
     font-weight:bold;
     font-family:arial;
}
.left{
    border-right-color: white;
    background-color:black;
    max-width:480px;
    height: 1700px;
    border-width: 1px;
    border-style:solid;
}

audio{
    display: block;
			margin: 20px auto;
			width: 80%;
}

p{
    color:aliceblue;
    font-size:smaller;
    font-weight:bold;
    font-family:arial;
    padding:15px;
}

.right{
    text-align:right ;
}
.b1{
    background-color:white;
    color:black;
    border-radius:5px;
    font-weight:bold;
    font-size: small;
}
.b2{
    background-color:white;
    color:black;
    border-radius:5px;
    font-weight:bold;
    font-size: small;
}

.music-playlist{
  margin-left:440px;
  gap:12px;
  display:flex;
   margin-top:-1600px;
}

#cards:hover{
     transform: scale(1.1); 
}

.music1{
    margin-left:560px;
    display:flex;
    gap:12px;
    margin-top:100px;
}

figure{
    margin:0;
}

.music2{
     margin-left:560px;
    display:flex;
    gap:12px;
    margin-top:100px;
}

.text{
    color: white;
    margin-left:560px;
    display:flex;
    gap:12px;
    margin-top:100px;
}
table {
    border-collapse: separate;
    border-spacing: 80px 10px;
    padding:15px;
    text-align: center;
    font-family:arial;
}

.card:hover { transform: scale(1.08); box-shadow: 0 10px 20px rgba(255,255,255,0.3); }








  



