body{
    background-color:black
}
.div1{
     color:white;
     font-size:smaller;
     font-weight:bold;
     font-family:arial;
}
.left{
    border-right-color: white;
    background-color:black;
    max-width:480px;
    height: 1080px;
    border-width: 1px;
    border-style:solid;
}
